# fichier olympique medails

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
import pandas as pd
import numpy as np

In [14]:
medals = pd.read_excel('/content/drive/MyDrive/olympic_medals.xlsx')

In [15]:
medals.to_csv('/content/drive/MyDrive/olympic_medals.csv', index=False)
print("Le fichier 'olympic_medals.csv' a été enregistré dans votre Google Drive.")

Le fichier 'olympic_medals.csv' a été enregistré dans votre Google Drive.

In [17]:
medals = pd.read_csv('/content/drive/MyDrive/olympic_medals.csv')

In [18]:
medals.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [19]:
medals.shape

(21697, 13)

In [20]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             21697 non-null  int64
 1   discipline_title       21697 non-null  object
 2   slug_game              21697 non-null  object
 3   event_title            21697 non-null  object
 4   event_gender           21697 non-null  object
 5   medal_type             21697 non-null  object
 6   participant_type       21697 non-null  object
 7   participant_title      6584 non-null   object
 8   athlete_url            17027 non-null  object
 9   athlete_full_name      18073 non-null  object
 10  country_name           21697 non-null  object
 11  country_code           20195 non-null  object
 12  country_3_letter_code  21697 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.2+ MB

In [21]:
medals = medals.drop(columns=['Unnamed: 0'])

In [22]:
text_cols = [
    'discipline_title',
    'event_title',
    'event_gender',
    'medal_type',
    'participant_type',
    'country_name',
    'country_3_letter_code'
]

for col in text_cols:
    medals[col] = medals[col].str.strip()

In [23]:
medals['medal_type'].value_counts()

medal_type
BRONZE    7529
GOLD      7109
SILVER    7059
Name: count, dtype: int64

In [24]:
medals['event_gender'].value_counts()

event_gender
Men      13932
Women     6323
Open       998
Mixed      444
Name: count, dtype: int64

In [25]:
medals['year'] = medals['slug_game'].str.extract(r'(\d{4})')
medals['year'] = medals['year'].astype(int)

In [26]:
medals = medals.drop(columns=['country_code'])

In [27]:
medals_clean = medals[
    [
        'year',
        'slug_game',
        'discipline_title',
        'event_gender',
        'medal_type',
        'participant_type',
        'country_name',
        'country_3_letter_code'
    ]
]

In [28]:
medals_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   21697 non-null  int64
 1   slug_game              21697 non-null  object
 2   discipline_title       21697 non-null  object
 3   event_gender           21697 non-null  object
 4   medal_type             21697 non-null  object
 5   participant_type       21697 non-null  object
 6   country_name           21697 non-null  object
 7   country_3_letter_code  21697 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.3+ MB

In [29]:
medals_clean.isnull().sum()

year                     0
slug_game                0
discipline_title         0
event_gender             0
medal_type               0
participant_type         0
country_name             0
country_3_letter_code    0
dtype: int64

In [30]:
medals_clean.head()

,year,slug_game,discipline_title,event_gender,medal_type,participant_type,country_name,country_3_letter_code
0,2022,beijing-2022,Curling,Mixed,GOLD,GameTeam,Italy,ITA
1,2022,beijing-2022,Curling,Mixed,GOLD,GameTeam,Italy,ITA
2,2022,beijing-2022,Curling,Mixed,SILVER,GameTeam,Norway,NOR
3,2022,beijing-2022,Curling,Mixed,SILVER,GameTeam,Norway,NOR
4,2022,beijing-2022,Curling,Mixed,BRONZE,GameTeam,Sweden,SWE

In [31]:
medals_clean.to_csv("medals_clean.csv", index=False)

In [32]:
from google.colab import files

files.download("medals_clean.csv")

# fichier olympic atheltes

In [35]:
medals = pd.read_json('/content/drive/MyDrive/olympic_athletes.json')

In [37]:
medals.to_csv('/content/drive/MyDrive/olympic_athletes.csv', index=False)
print("Le fichier 'olympic_athletes.csv' a été enregistré dans votre Google Drive.")

Le fichier 'olympic_athletes.csv' a été enregistré dans votre Google Drive.

In [41]:
df_athlete = "/content/drive/MyDrive/olympic_athletes.csv"
df = pd.read_csv(df_athlete, encoding='latin1', sep=',')
df.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [43]:
athlete_year_birth = df['athlete_year_birth'].astype("Int64")

In [44]:
# Convert the column to string type to apply string methods
df['athlete_medals'] = df['athlete_medals'].astype(str)

# Remove any non-digit characters from the strings
# This will transform strings like '\n\n\n1\n\nS\n\n' into '1', and 'NaN' into ''
df['athlete_medals'] = df['athlete_medals'].str.replace(r'\D', '', regex=True)

# Convert the cleaned strings to numeric, coercing any errors (e.g., empty strings from original NaNs)
# to NaN, as empty strings cannot be converted to numbers.
df['athlete_medals'] = pd.to_numeric(df['athlete_medals'], errors='coerce')

# Fill any remaining NaN values (from original NaNs or values that became empty strings after cleaning) with 0
df['athlete_medals'] = df['athlete_medals'].fillna(0)

# Finally, convert the column to the nullable integer type Int64
df['athlete_medals'] = df['athlete_medals'].astype("Int64")

In [45]:
df["has_medal"] = df["athlete_medals"].apply(lambda x: 0 if x=="None" else 1)
# has medal a deux valeurs, 1 pour si l'athele a déjà eu une médaile et 0 pour non

In [46]:
df['first_game'].head(20)
df["first_game_year"] = df["first_game"].str.extract(r'(\d{4})').astype(float)

In [47]:
df["bio"] = df["bio"].fillna("")

In [48]:
df["athlete_year_birth"] = df["athlete_year_birth"].astype("Int64")
df["age_at_first_game"] = df["first_game_year"] - df["athlete_year_birth"]

In [49]:
df["first_game_year"] = df["first_game_year"].astype("Int64")
df["athlete_year_birth"] = df["athlete_year_birth"].astype("Int64")
df["age_at_first_game"] = df["age_at_first_game"].astype("Int64")

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  Int64
 5   athlete_medals        75904 non-null  Int64
 6   bio                   75904 non-null  object
 7   has_medal             75904 non-null  int64
 8   first_game_year       75882 non-null  Int64
 9   age_at_first_game     73429 non-null  Int64
dtypes: Int64(4), int64(2), object(4)
memory usage: 6.1+ MB

In [51]:
df["athlete_year_birth"] = df["athlete_year_birth"].fillna(0)

In [52]:
# 1. Convertir les 0 en pd.NA pour identifier correctement les valeurs manquantes
df['athlete_year_birth'] = df['athlete_year_birth'].replace(0, pd.NA)

# 2. Tenter d'imputer l'année de naissance si 'first_game_year' et 'age_at_first_game' sont disponibles
# Créer un masque pour les lignes où athlete_year_birth est NA et où les autres colonnes sont non-NA
mask_infer_birth_year = df['athlete_year_birth'].isna() & \
                        df['first_game_year'].notna() & \
                        df['age_at_first_game'].notna()

df.loc[mask_infer_birth_year, 'athlete_year_birth'] = \
    df.loc[mask_infer_birth_year, 'first_game_year'] - \
    df.loc[mask_infer_birth_year, 'age_at_first_game']

# 3. Calculer la médiane des années de naissance valides (non-NA)
median_birth_year = df['athlete_year_birth'].median()

# Remplir les NA restants avec la médiane
df['athlete_year_birth'] = df['athlete_year_birth'].fillna(median_birth_year).astype("Int64")

# 4. Recalculer 'age_at_first_game' pour qu'il soit cohérent avec la nouvelle 'athlete_year_birth'
df['age_at_first_game'] = df['first_game_year'] - df['athlete_year_birth']
df['age_at_first_game'] = df['age_at_first_game'].astype("Int64")

print("Vérification des valeurs manquantes après imputation pour athlete_year_birth et age_at_first_game :")
display(df[['athlete_year_birth', 'first_game_year', 'age_at_first_game']].isnull().sum())

Vérification des valeurs manquantes après imputation pour athlete_year_birth et age_at_first_game :

athlete_year_birth     0
first_game_year       22
age_at_first_game     22
dtype: int64

In [53]:
df.isnull().sum()

athlete_url              0
athlete_full_name        0
games_participations     0
first_game              22
athlete_year_birth       0
athlete_medals           0
bio                      0
has_medal                0
first_game_year         22
age_at_first_game       22
dtype: int64

In [54]:
# Calculer la médiane des âges au premier jeu valides (non-NA)
median_age_at_first_game = df['age_at_first_game'].median()

# Remplir les NA restants avec la médiane
df['age_at_first_game'] = df['age_at_first_game'].fillna(median_age_at_first_game).astype("Int64")

print("Vérification des valeurs manquantes après imputation pour age_at_first_game :")
display(df[['age_at_first_game']].isnull().sum())

Vérification des valeurs manquantes après imputation pour age_at_first_game :

age_at_first_game    0
dtype: int64

In [55]:
# Remplir les valeurs manquantes de 'first_game' avec 'Unknown'
df['first_game'] = df['first_game'].fillna('Unknown')

# Vérifier s'il reste des valeurs manquantes dans 'first_game'
print("Vérification des valeurs manquantes après imputation pour first_game :")
display(df['first_game'].isnull().sum())

# Afficher un aperçu des lignes où 'first_game' était manquant pour vérifier
# Vous pouvez adapter ceci pour voir d'autres colonnes si nécessaire
display(df[df['first_game'] == 'Unknown'].head())

Vérification des valeurs manquantes après imputation pour first_game :

np.int64(0)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,has_medal,first_game_year,age_at_first_game
926,https://olympics.com/en/athletes/mari-eder,Mari EDER,0,Unknown,1987,0,,1,<NA>,24
1595,https://olympics.com/en/athletes/slotins,Roberts SLOTINS,0,Unknown,1991,0,,1,<NA>,24
3447,https://olympics.com/en/athletes/oussama-mellouli,Oussama MELLOULI,0,Unknown,1984,0,,1,<NA>,24
5467,https://olympics.com/en/athletes/cathal-daniels,Cathal DANIELS,0,Unknown,1996,0,,1,<NA>,24
7286,https://olympics.com/en/athletes/klemen-bauer,Klemen BAUER,0,Unknown,1986,0,,1,<NA>,24

In [56]:
# Calculer la médiane des années de premier jeu valides (non-NA)
median_first_game_year = df['first_game_year'].median()

# Remplir les NA restants avec la médiane
df['first_game_year'] = df['first_game_year'].fillna(median_first_game_year).astype("Int64")

print("Vérification des valeurs manquantes après imputation pour first_game_year :")
display(df[['first_game_year']].isnull().sum())

Vérification des valeurs manquantes après imputation pour first_game_year :

first_game_year    0
dtype: int64

In [57]:
df.isnull().sum()

athlete_url             0
athlete_full_name       0
games_participations    0
first_game              0
athlete_year_birth      0
athlete_medals          0
bio                     0
has_medal               0
first_game_year         0
age_at_first_game       0
dtype: int64

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75904 non-null  object
 4   athlete_year_birth    75904 non-null  Int64
 5   athlete_medals        75904 non-null  Int64
 6   bio                   75904 non-null  object
 7   has_medal             75904 non-null  int64
 8   first_game_year       75904 non-null  Int64
 9   age_at_first_game     75904 non-null  Int64
dtypes: Int64(4), int64(2), object(4)
memory usage: 6.1+ MB

In [59]:
df.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,has_medal,first_game_year,age_at_first_game
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000,0,,1,2022,22
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995,0,,1,2018,23
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993,0,,1,2022,29
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995,0,,1,2022,27
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989,0,,1,2022,33

In [60]:
df.to_csv('olympic_athletes_cleaned.csv', index=False)
print("Le fichier 'olympic_athletes_cleaned.csv' a été téléchargé avec succès.")

Le fichier 'olympic_athletes_cleaned.csv' a été téléchargé avec succès.

# fichier olympic_resultats

In [61]:
import pandas as pd

file_path = "/content/drive/MyDrive/olympic_results.html"

# Lire toutes les tables du fichier HTML
tables = pd.read_html(file_path)

# Vérifier combien de tables ont été trouvées
print(f"Nombre de tables trouvées : {len(tables)}")

# Afficher un aperçu de la première table
df_results = tables[0]
print(df_results.head())

Nombre de tables trouvées : 1
   Unnamed: 0 discipline_title    event_title     slug_game participant_type  \
0           0          Curling  Mixed Doubles  beijing-2022         GameTeam
1           1          Curling  Mixed Doubles  beijing-2022         GameTeam
2           2          Curling  Mixed Doubles  beijing-2022         GameTeam
3           3          Curling  Mixed Doubles  beijing-2022         GameTeam
4           4          Curling  Mixed Doubles  beijing-2022         GameTeam

  medal_type                                           athletes rank_equal  \
0       GOLD  [('Stefania CONSTANTINI', 'https://olympics.co...      False
1     SILVER  [('Kristin SKASLIEN', 'https://olympics.com/en...      False
2     BRONZE  [('Almida DE VAL', 'https://olympics.com/en/at...      False
3        NaN  [('Jennifer DODDS', 'https://olympics.com/en/a...      False
4        NaN  [('Rachel HOMAN', 'https://olympics.com/en/ath...      False

  rank_position   country_name country_code country_3_letter_code athlete_url  \
0             1          Italy           IT                   ITA         NaN
1             2         Norway           NO                   NOR         NaN
2             3         Sweden           SE                   SWE         NaN
3             4  Great Britain           GB                   GBR         NaN
4             5         Canada           CA                   CAN         NaN

  athlete_full_name value_unit value_type
0               NaN        NaN        NaN
1               NaN        NaN        NaN
2               NaN        NaN        NaN
3               NaN        NaN        NaN
4               NaN        NaN        NaN

In [62]:
import pandas as pd
import ast

# 1️⃣ Lire le fichier HTML
file_path = "/content/drive/MyDrive/olympic_results.html"
tables = pd.read_html(file_path)

# Comme il n'y a qu'une table
df_results = tables[0]

# 2️⃣ Aperçu rapide
print("Colonnes disponibles :", df_results.columns)
print(df_results.head())
print(df_results.info())

# 3️⃣ Gestion des doublons
df_results = df_results.drop_duplicates()

# 4️⃣ Gestion des valeurs manquantes

# Medal : remplacer NaN par 'None' pour indiquer pas de médaille
df_results['medal_type'] = df_results['medal_type'].fillna('None')

# rank_equal : convertir en bool si nécessaire
df_results['rank_equal'] = df_results['rank_equal'].astype(bool)

# 5️⃣ Création de nouvelles colonnes pour ML

# medal_code : GOLD=3, SILVER=2, BRONZE=1, None=0
medal_map = {'GOLD':3, 'SILVER':2, 'BRONZE':1, 'None':0}
df_results['medal_code'] = df_results['medal_type'].map(medal_map)

# num_athletes : compter le nombre d'athlètes dans la colonne 'athletes'
# La colonne 'athletes' est une liste de tuples [('Nom', 'URL'), ...]
# Certains formats peuvent être string, donc on va essayer de parser correctement

def count_athletes(x):
    try:
        # Convertir string en liste si nécessaire
        if isinstance(x, str):
            x = ast.literal_eval(x)
        return len(x) if x is not None else 0
    except:
        return 0

df_results['num_athletes'] = df_results['athletes'].apply(count_athletes)

# 6️⃣ Préparer pour fusion avec olympic_hosts
# On va créer une colonne 'year' si possible depuis slug_game
# Exemple : 'beijing-2022' → 2022
df_results['year'] = df_results['slug_game'].str.extract(r'(\d{4})').astype(int)

# saison : par défaut on ignore pour l'instant (sera fusionné avec hosts)
# On garde toutes les colonnes originales intactes !

# 7️⃣ Vérification finale
print("Aperçu final :")
print(df_results.head())
print(df_results.info())
print("Valeurs manquantes par colonne :")
print(df_results.isnull().sum())

# 8️⃣ Sauvegarde du fichier nettoyé
df_results.to_csv("/content/drive/MyDrive/olympic_results_clean.csv", index=False)
df_results.to_excel("/content/drive/MyDrive/olympic_results_clean.xlsx", index=False)
print("Fichier nettoyé des résultats sauvegardé avec succès !")

Colonnes disponibles : Index(['Unnamed: 0', 'discipline_title', 'event_title', 'slug_game',
       'participant_type', 'medal_type', 'athletes', 'rank_equal',
       'rank_position', 'country_name', 'country_code',
       'country_3_letter_code', 'athlete_url', 'athlete_full_name',
       'value_unit', 'value_type'],
      dtype='object')
   Unnamed: 0 discipline_title    event_title     slug_game participant_type  \
0           0          Curling  Mixed Doubles  beijing-2022         GameTeam
1           1          Curling  Mixed Doubles  beijing-2022         GameTeam
2           2          Curling  Mixed Doubles  beijing-2022         GameTeam
3           3          Curling  Mixed Doubles  beijing-2022         GameTeam
4           4          Curling  Mixed Doubles  beijing-2022         GameTeam

  medal_type                                           athletes rank_equal  \
0       GOLD  [('Stefania CONSTANTINI', 'https://olympics.co...      False
1     SILVER  [('Kristin SKASLIEN', 'https://olympics.com/en...      False
2     BRONZE  [('Almida DE VAL', 'https://olympics.com/en/at...      False
3        NaN  [('Jennifer DODDS', 'https://olympics.com/en/a...      False
4        NaN  [('Rachel HOMAN', 'https://olympics.com/en/ath...      False

  rank_position   country_name country_code country_3_letter_code athlete_url  \
0             1          Italy           IT                   ITA         NaN
1             2         Norway           NO                   NOR         NaN
2             3         Sweden           SE                   SWE         NaN
3             4  Great Britain           GB                   GBR         NaN
4             5         Canada           CA                   CAN         NaN

  athlete_full_name value_unit value_type
0               NaN        NaN        NaN
1               NaN        NaN        NaN
2               NaN        NaN        NaN
3               NaN        NaN        NaN
4               NaN        NaN        NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             162804 non-null  int64
 1   discipline_title       162804 non-null  object
 2   event_title            162804 non-null  object
 3   slug_game              162804 non-null  object
 4   participant_type       162804 non-null  object
 5   medal_type             20206 non-null   object
 6   athletes               7976 non-null    object
 7   rank_equal             32526 non-null   object
 8   rank_position          158926 non-null  object
 9   country_name           162804 non-null  object
 10  country_code           157768 non-null  object
 11  country_3_letter_code  162804 non-null  object
 12  athlete_url            129991 non-null  object
 13  athlete_full_name      141646 non-null  object
 14  value_unit             78646 non-null   object
 15  value_type             90049 non-null   object
dtypes: int64(1), object(15)
memory usage: 19.9+ MB
None
Aperçu final :
   Unnamed: 0 discipline_title    event_title     slug_game participant_type  \
0           0          Curling  Mixed Doubles  beijing-2022         GameTeam
1           1          Curling  Mixed Doubles  beijing-2022         GameTeam
2           2          Curling  Mixed Doubles  beijing-2022         GameTeam
3           3          Curling  Mixed Doubles  beijing-2022         GameTeam
4           4          Curling  Mixed Doubles  beijing-2022         GameTeam

  medal_type                                           athletes  rank_equal  \
0       GOLD  [('Stefania CONSTANTINI', 'https://olympics.co...       False
1     SILVER  [('Kristin SKASLIEN', 'https://olympics.com/en...       False
2     BRONZE  [('Almida DE VAL', 'https://olympics.com/en/at...       False
3       None  [('Jennifer DODDS', 'https://olympics.com/en/a...       False
4       None  [('Rachel HOMAN', 'https://olympics.com/en/ath...       False

  rank_position   country_name country_code country_3_letter_code athlete_url  \
0             1          Italy           IT                   ITA         NaN
1             2         Norway           NO                   NOR         NaN
2             3         Sweden           SE                   SWE         NaN
3             4  Great Britain           GB                   GBR         NaN
4             5         Canada           CA                   CAN         NaN

  athlete_full_name value_unit value_type  medal_code  num_athletes  year
0               NaN        NaN        NaN           3             2  2022
1               NaN        NaN        NaN           2             2  2022
2               NaN        NaN        NaN           1             2  2022
3               NaN        NaN        NaN           0             2  2022
4               NaN        NaN        NaN           0             2  2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             162804 non-null  int64
 1   discipline_title       162804 non-null  object
 2   event_title            162804 non-null  object
 3   slug_game              162804 non-null  object
 4   participant_type       162804 non-null  object
 5   medal_type             162804 non-null  object
 6   athletes               7976 non-null    object
 7   rank_equal             162804 non-null  bool
 8   rank_position          158926 non-null  object
 9   country_name           162804 non-null  object
 10  country_code           157768 non-null  object
 11  country_3_letter_code  162804 non-null  object
 12  athlete_url            129991 non-null  object
 13  athlete_full_name      141646 non-null  object
 14  value_unit             78646 non-null   object
 15  value_type             90049 non-null   object
 16  medal_code             162804 non-null  int64
 17  num_athletes           162804 non-null  int64
 18  year                   162804 non-null  int64
dtypes: bool(1), int64(4), object(14)
memory usage: 22.5+ MB
None
Valeurs manquantes par colonne :
Unnamed: 0                    0
discipline_title              0
event_title                   0
slug_game                     0
participant_type              0
medal_type                    0
athletes                 154828
rank_equal                    0
rank_position              3878
country_name                  0
country_code               5036
country_3_letter_code         0
athlete_url               32813
athlete_full_name         21158
value_unit                84158
value_type                72755
medal_code                    0
num_athletes                  0
year                          0
dtype: int64
Fichier nettoyé des résultats sauvegardé avec succès !

In [63]:
import pandas as pd
import ast

# 1️⃣ Lire le fichier HTML
file_path = "/content/drive/MyDrive/olympic_results.html"
tables = pd.read_html(file_path)
df_results = tables[0]

# 2️⃣ Nettoyage de base
df_results = df_results.drop_duplicates()

# 3️⃣ Gestion des valeurs manquantes
df_results['discipline_title'] = df_results['discipline_title'].fillna("Unknown")
df_results['event_title'] = df_results['event_title'].fillna("Unknown")
df_results['slug_game'] = df_results['slug_game'].fillna("Unknown")
df_results['participant_type'] = df_results['participant_type'].fillna("Unknown")
df_results['medal_type'] = df_results['medal_type'].fillna("None")
df_results['rank_equal'] = df_results['rank_equal'].fillna(False).astype(bool)
df_results['rank_position'] = pd.to_numeric(df_results['rank_position'], errors='coerce').fillna(0).astype(int)
df_results['country_name'] = df_results['country_name'].fillna("Unknown").str.strip()
df_results['country_code'] = df_results['country_code'].fillna("UNK")
df_results['country_3_letter_code'] = df_results['country_3_letter_code'].fillna("UNK")
df_results['athlete_url'] = df_results['athlete_url'].fillna("")
df_results['athlete_full_name'] = df_results['athlete_full_name'].fillna("")
df_results['value_unit'] = df_results['value_unit'].fillna("")
df_results['value_type'] = df_results['value_type'].fillna("")
df_results['athletes'] = df_results['athletes'].fillna("[]")  # pour pouvoir parser

# 4️⃣ Création de nouvelles colonnes pour ML

# Medal code
medal_map = {'GOLD':3, 'SILVER':2, 'BRONZE':1, 'None':0}
df_results['medal_code'] = df_results['medal_type'].map(medal_map)

# Num_athletes : compter le nombre d’athlètes
def count_athletes(x):
    try:
        if isinstance(x, str):
            x = ast.literal_eval(x)
        return len(x)
    except:
        return 0

df_results['num_athletes'] = df_results['athletes'].apply(count_athletes)

# Extraire l'année depuis slug_game
df_results['year'] = df_results['slug_game'].str.extract(r'(\d{4})').astype(int)

# Vérifications finales
print("Aperçu final :")
print(df_results.head())
print(df_results.info())
print("Valeurs manquantes par colonne :")
print(df_results.isnull().sum())

# Sauvegarde du fichier nettoyé
df_results.to_csv("/content/drive/MyDrive/olympic_results_clean.csv", index=False)
df_results.to_excel("/content/drive/MyDrive/olympic_results_clean.xlsx", index=False)
print("Fichier nettoyé des résultats sauvegardé avec succès !")

/tmp/ipython-input-1425047014.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_results['rank_equal'] = df_results['rank_equal'].fillna(False).astype(bool)

Aperçu final :
   Unnamed: 0 discipline_title    event_title     slug_game participant_type  \
0           0          Curling  Mixed Doubles  beijing-2022         GameTeam
1           1          Curling  Mixed Doubles  beijing-2022         GameTeam
2           2          Curling  Mixed Doubles  beijing-2022         GameTeam
3           3          Curling  Mixed Doubles  beijing-2022         GameTeam
4           4          Curling  Mixed Doubles  beijing-2022         GameTeam

  medal_type                                           athletes  rank_equal  \
0       GOLD  [('Stefania CONSTANTINI', 'https://olympics.co...       False
1     SILVER  [('Kristin SKASLIEN', 'https://olympics.com/en...       False
2     BRONZE  [('Almida DE VAL', 'https://olympics.com/en/at...       False
3       None  [('Jennifer DODDS', 'https://olympics.com/en/a...       False
4       None  [('Rachel HOMAN', 'https://olympics.com/en/ath...       False

   rank_position   country_name country_code country_3_letter_code  \
0              1          Italy           IT                   ITA
1              2         Norway           NO                   NOR
2              3         Sweden           SE                   SWE
3              4  Great Britain           GB                   GBR
4              5         Canada           CA                   CAN

  athlete_url athlete_full_name value_unit value_type  medal_code  \
0                                                               3
1                                                               2
2                                                               1
3                                                               0
4                                                               0

   num_athletes  year
0             2  2022
1             2  2022
2             2  2022
3             2  2022
4             2  2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             162804 non-null  int64
 1   discipline_title       162804 non-null  object
 2   event_title            162804 non-null  object
 3   slug_game              162804 non-null  object
 4   participant_type       162804 non-null  object
 5   medal_type             162804 non-null  object
 6   athletes               162804 non-null  object
 7   rank_equal             162804 non-null  bool
 8   rank_position          162804 non-null  int64
 9   country_name           162804 non-null  object
 10  country_code           162804 non-null  object
 11  country_3_letter_code  162804 non-null  object
 12  athlete_url            162804 non-null  object
 13  athlete_full_name      162804 non-null  object
 14  value_unit             162804 non-null  object
 15  value_type             162804 non-null  object
 16  medal_code             162804 non-null  int64
 17  num_athletes           162804 non-null  int64
 18  year                   162804 non-null  int64
dtypes: bool(1), int64(5), object(13)
memory usage: 22.5+ MB
None
Valeurs manquantes par colonne :
Unnamed: 0               0
discipline_title         0
event_title              0
slug_game                0
participant_type         0
medal_type               0
athletes                 0
rank_equal               0
rank_position            0
country_name             0
country_code             0
country_3_letter_code    0
athlete_url              0
athlete_full_name        0
value_unit               0
value_type               0
medal_code               0
num_athletes             0
year                     0
dtype: int64
Fichier nettoyé des résultats sauvegardé avec succès !

In [64]:
# Sauvegarder en CSV pour traitement plus simple
df_results.to_csv("/content/drive/MyDrive/olympic_results.csv", index=False)

# Ou en Excel
df_results.to_excel("/content/drive/MyDrive/olympic_results.xlsx", index=False)

print("✅ Fichier olympic_results sauvegardé avec succès en CSV et Excel !")

✅ Fichier olympic_results sauvegardé avec succès en CSV et Excel !

# fichier olympic host

In [65]:
file_path = "/content/drive/MyDrive/olympic_host.xlsx"

In [66]:
import pandas as pd

# Lire le fichier Excel
df_hosts = pd.read_excel(file_path)

# Vérifier les premières lignes et les infos
print(df_hosts.head())
print(df_hosts.info())

   index         game_slug       game_end_date     game_start_date  \
0      0      beijing-2022 2022-02-20 13:00:00 2022-02-04 16:00:00
1      1        tokyo-2020 2021-08-08 16:00:00 2021-07-23 13:00:00
2      2  pyeongchang-2018 2018-02-25 09:00:00 2018-02-09 00:00:00
3      3          rio-2016 2016-08-21 23:00:00 2016-08-05 14:00:00
4      4        sochi-2014 2014-02-23 17:00:00 2014-02-07 05:00:00

        game_location         game_name game_season  game_year
0               China      Beijing 2022      Winter       2022
1               Japan        Tokyo 2020      Summer       2020
2   Republic of Korea  PyeongChang 2018      Winter       2018
3              Brazil          Rio 2016      Summer       2016
4  Russian Federation        Sochi 2014      Winter       2014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            53 non-null     int64
 1   game_slug        53 non-null     object
 2   game_end_date    53 non-null     datetime64[ns]
 3   game_start_date  53 non-null     datetime64[ns]
 4   game_location    53 non-null     object
 5   game_name        53 non-null     object
 6   game_season      53 non-null     object
 7   game_year        53 non-null     int64
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 3.4+ KB
None

In [67]:
# Liste des colonnes
print(df_hosts.columns)

# Vérifier les doublons
print(f"Doublons : {df_hosts.duplicated().sum()}")

# Vérifier les valeurs manquantes
print(df_hosts.isnull().sum())

Index(['index', 'game_slug', 'game_end_date', 'game_start_date',
       'game_location', 'game_name', 'game_season', 'game_year'],
      dtype='object')
Doublons : 0
index              0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [68]:
import pandas as pd

# Corrected file_path
file_path = "/content/drive/MyDrive/olympic_host.xlsx"

# Lire le fichier
df_hosts = pd.read_excel(file_path)

# Renommer colonnes principales
df_hosts = df_hosts.rename(columns={
    'game_year': 'year',
    'game_location': 'city',
    'game_season': 'season',
    'game_name': 'game_name'
})

# Vérifier doublons
df_hosts = df_hosts.drop_duplicates()

# Gestion des valeurs manquantes pour colonnes essentielles
df_hosts = df_hosts.dropna(subset=['year', 'city', 'season'])

# Encodage saison pour ML
df_hosts['season_code'] = df_hosts['season'].map({'Summer': 0, 'Winter': 1})

# Création de la décennie
df_hosts['decade'] = (df_hosts['year'] // 10) * 10

# Normalisation de l'année
df_hosts['year_norm'] = (df_hosts['year'] - df_hosts['year'].min()) / (df_hosts['year'].max() - df_hosts['year'].min())

# Vérifications finales
print(df_hosts.head())
print(df_hosts.info())

# Sauvegarde des fichiers nettoyés
df_hosts.to_csv("/content/drive/MyDrive/olympic_hosts_clean.csv", index=False)
df_hosts.to_excel("/content/drive/MyDrive/olympic_hosts_clean.xlsx", index=False)
print("Fichier nettoyé sauvegardé avec succès !")

   index         game_slug       game_end_date     game_start_date  \
0      0      beijing-2022 2022-02-20 13:00:00 2022-02-04 16:00:00
1      1        tokyo-2020 2021-08-08 16:00:00 2021-07-23 13:00:00
2      2  pyeongchang-2018 2018-02-25 09:00:00 2018-02-09 00:00:00
3      3          rio-2016 2016-08-21 23:00:00 2016-08-05 14:00:00
4      4        sochi-2014 2014-02-23 17:00:00 2014-02-07 05:00:00

                 city         game_name  season  year  season_code  decade  \
0               China      Beijing 2022  Winter  2022            1    2020
1               Japan        Tokyo 2020  Summer  2020            0    2020
2   Republic of Korea  PyeongChang 2018  Winter  2018            1    2010
3              Brazil          Rio 2016  Summer  2016            0    2010
4  Russian Federation        Sochi 2014  Winter  2014            1    2010

   year_norm
0   1.000000
1   0.984127
2   0.968254
3   0.952381
4   0.936508
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            53 non-null     int64
 1   game_slug        53 non-null     object
 2   game_end_date    53 non-null     datetime64[ns]
 3   game_start_date  53 non-null     datetime64[ns]
 4   city             53 non-null     object
 5   game_name        53 non-null     object
 6   season           53 non-null     object
 7   year             53 non-null     int64
 8   season_code      53 non-null     int64
 9   decade           53 non-null     int64
 10  year_norm        53 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(4)
memory usage: 4.7+ KB
None
Fichier nettoyé sauvegardé avec succès !

# jointure les fichiers

In [69]:


#  Définir le chemin de chaque fichier
path_results = '/content/drive/MyDrive/olympic_results_clean .csv'
path_athletes = '/content/drive/MyDrive/olympic_athletes_clean.csv'
path_hosts = '/content/drive/MyDrive/olympic_hosts_clean .csv'
path_medals = '/content/drive/MyDrive/medals_clean.csv'

#  Lire les fichiers
df_results = pd.read_csv(path_results)
df_athletes = pd.read_csv(path_athletes)
df_hosts = pd.read_csv(path_hosts)
df_medals = pd.read_csv(path_medals)

In [70]:
import pandas as pd

medals_type_count = df_medals.pivot_table(
    index=['year', 'slug_game', 'country_3_letter_code'],
    columns='medal_type',
    aggfunc='size',
    fill_value=0
).reset_index()

medals_type_count.columns.name = None
medals_type_count = medals_type_count.rename(columns={
    'GOLD': 'gold_medals',
    'SILVER': 'silver_medals',
    'BRONZE': 'bronze_medals'
})

medals_type_count['total_medals'] = (
    medals_type_count['gold_medals'] +
    medals_type_count['silver_medals'] +
    medals_type_count['bronze_medals']
)

athletes_per_country = df_results.groupby(
    ['year', 'slug_game', 'country_3_letter_code']
)['athlete_full_name'].nunique().reset_index()
athletes_per_country = athletes_per_country.rename(columns={'athlete_full_name': 'total_athletes'})

ages = df_results.merge(
    df_athletes[['athlete_full_name', 'athlete_year_birth']],
    on='athlete_full_name',
    how='left'
)

ages['age_at_games'] = ages['year'] - ages['athlete_year_birth']
ages = ages[ages['age_at_games'].between(10, 60)]

avg_age = ages.groupby(
    ['year', 'slug_game', 'country_3_letter_code']
)['age_at_games'].mean().reset_index()
avg_age = avg_age.rename(columns={'age_at_games': 'avg_age_athletes'})

history = medals_type_count[['country_3_letter_code', 'year', 'total_medals']].copy()
history = history.sort_values(['country_3_letter_code', 'year'], ascending=[True, True])
history = history.rename(columns={'total_medals': 'medals_in_current_year'})

df_hosts_simple = df_hosts[['game_slug', 'city', 'season', 'year', 'game_name']]

df_final = medals_type_count.merge(
    athletes_per_country,
    on=['year', 'slug_game', 'country_3_letter_code'],
    how='left'
)

df_final = df_final.merge(
    avg_age,
    on=['year', 'slug_game', 'country_3_letter_code'],
    how='left'
)

df_final = df_final.merge(
    history[['country_3_letter_code', 'year', 'medals_in_current_year']],
    on=['country_3_letter_code', 'year'],
    how='left'
)

df_hosts_simple = df_hosts[['game_slug', 'city', 'season', 'year', 'game_name']].copy()
country_mapping = df_medals[['country_name','country_3_letter_code']].drop_duplicates()
df_hosts_simple = df_hosts_simple.merge(country_mapping, left_on='city', right_on='country_name', how='left')


df_final = df_final.merge(
    df_hosts_simple,
    left_on=['year','slug_game'],
    right_on=['year','game_slug'],
    how='left'
)

df_final = df_final.sort_values(['country_3_letter_code_x', 'year'], ascending=[True,True])
df_final['cumulative_medals'] = df_final.groupby('country_3_letter_code_x')['medals_in_current_year'].cumsum().shift(1).fillna(0)
df_final['is_host'] = (df_final['country_3_letter_code_y'] == df_final['country_3_letter_code_x']).astype(int)

df_final = df_final.drop(columns=['country_name', 'country_3_letter_code_y', 'game_slug'])
df_final = df_final.reset_index(drop=True)

print(df_final.head())

print(df_final.columns)

   year         slug_game country_3_letter_code_x  bronze_medals  gold_medals  \
0  2008      beijing-2008                     AFG              1            0
1  2012       london-2012                     AFG              1            0
2  1988        seoul-1988                     AHO              0            0
3  1984  los-angeles-1984                     ALG              2            0
4  1992    barcelona-1992                     ALG              1            1

   silver_medals  total_medals  total_athletes  avg_age_athletes  \
0              0             1               2         22.500000
1              0             1               4         25.000000
2              1             1               3         25.250000
3              0             2              11         25.818182
4              0             2              22         24.136364

   medals_in_current_year               city  season         game_name  \
0                       1              China  Summer      Beijing 2008
1                       1      Great Britain  Summer       London 2012
2                       1  Republic of Korea  Summer        Seoul 1988
3                       2      United States  Summer  Los Angeles 1984
4                       2              Spain  Summer    Barcelona 1992

   cumulative_medals  is_host
0                0.0        0
1                1.0        0
2                2.0        0
3                1.0        0
4                2.0        0
Index(['year', 'slug_game', 'country_3_letter_code_x', 'bronze_medals',
       'gold_medals', 'silver_medals', 'total_medals', 'total_athletes',
       'avg_age_athletes', 'medals_in_current_year', 'city', 'season',
       'game_name', 'cumulative_medals', 'is_host'],
      dtype='object')

In [71]:
print("Premières 5 lignes de df_final :")
display(df_final.head())

print("Informations sur df_final :")
display(df_final.info())

Premières 5 lignes de df_final :

,year,slug_game,country_3_letter_code_x,bronze_medals,gold_medals,silver_medals,total_medals,total_athletes,avg_age_athletes,medals_in_current_year,city,season,game_name,cumulative_medals,is_host
0,2008,beijing-2008,AFG,1,0,0,1,2,22.500000,1,China,Summer,Beijing 2008,0.0,0
1,2012,london-2012,AFG,1,0,0,1,4,25.000000,1,Great Britain,Summer,London 2012,1.0,0
2,1988,seoul-1988,AHO,0,0,1,1,3,25.250000,1,Republic of Korea,Summer,Seoul 1988,2.0,0
3,1984,los-angeles-1984,ALG,2,0,0,2,11,25.818182,2,United States,Summer,Los Angeles 1984,1.0,0
4,1992,barcelona-1992,ALG,1,1,0,2,22,24.136364,2,Spain,Summer,Barcelona 1992,2.0,0

Informations sur df_final :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     2205 non-null   int64
 1   slug_game                2205 non-null   object
 2   country_3_letter_code_x  2205 non-null   object
 3   bronze_medals            2205 non-null   int64
 4   gold_medals              2205 non-null   int64
 5   silver_medals            2205 non-null   int64
 6   total_medals             2205 non-null   int64
 7   total_athletes           2205 non-null   int64
 8   avg_age_athletes         2177 non-null   float64
 9   medals_in_current_year   2205 non-null   int64
 10  city                     2205 non-null   object
 11  season                   2205 non-null   object
 12  game_name                2205 non-null   object
 13  cumulative_medals        2205 non-null   float64
 14  is_host                  2205 non-null   int64
dtypes: float64(2), int64(8), object(5)
memory usage: 258.5+ KB

None

In [72]:
df_final.to_csv('/content/drive/MyDrive/dataset.csv', index=False)
print("Le fichier 'dataset.csv' a été sauvegardé sur votre Google Drive.")

Le fichier 'dataset.csv' a été sauvegardé sur votre Google Drive.

### **Importation des bibliothèques nécessaires et montage de Google Drive**

Cette cellule importe les bibliothèques `pandas` et `numpy` pour la manipulation et l'analyse des données. Elle monte également Google Drive, permettant l'accès aux fichiers stockés dans votre Drive.

In [73]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

### **Chargement et préparation des données sur les médailles olympiques (`olympic_medals.xlsx`)**

Cette section charge le fichier Excel des médailles, le convertit en CSV pour une utilisation ultérieure, puis le recharge pour s'assurer de sa disponibilité au format CSV. Des opérations initiales de nettoyage sont effectuées, telles que l'affichage des premières lignes et des informations sur les colonnes.

In [74]:
medals = pd.read_excel('/content/drive/MyDrive/olympic_medals.xlsx')

In [75]:
medals.to_csv('/content/drive/MyDrive/olympic_medals.csv', index=False)
print("Le fichier 'olympic_medals.csv' a été enregistré dans votre Google Drive.")

Le fichier 'olympic_medals.csv' a été enregistré dans votre Google Drive.

In [76]:
medals = pd.read_csv('/content/drive/MyDrive/olympic_medals.csv')

In [77]:
medals.head()

,Unnamed: 0,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code
0,0,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA
1,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA
2,2,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR
3,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR
4,4,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE

In [78]:
medals.shape

(21697, 13)

In [79]:
medals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             21697 non-null  int64
 1   discipline_title       21697 non-null  object
 2   slug_game              21697 non-null  object
 3   event_title            21697 non-null  object
 4   event_gender           21697 non-null  object
 5   medal_type             21697 non-null  object
 6   participant_type       21697 non-null  object
 7   participant_title      6584 non-null   object
 8   athlete_url            17027 non-null  object
 9   athlete_full_name      18073 non-null  object
 10  country_name           21697 non-null  object
 11  country_code           20195 non-null  object
 12  country_3_letter_code  21697 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.2+ MB

### **Nettoyage et ingénierie des caractéristiques pour les données sur les médailles**

Ces cellules effectuent un nettoyage et une transformation des données. Elles suppriment les colonnes inutiles, normalisent les chaînes de caractères, et extraient l'année des jeux à partir de la colonne `slug_game`.

In [80]:
medals = medals.drop(columns=['Unnamed: 0'])

In [81]:
text_cols = [
    'discipline_title',
    'event_title',
    'event_gender',
    'medal_type',
    'participant_type',
    'country_name',
    'country_3_letter_code'
]

for col in text_cols:
    medals[col] = medals[col].str.strip()

In [82]:
medals['medal_type'].value_counts()

medal_type
BRONZE    7529
GOLD      7109
SILVER    7059
Name: count, dtype: int64

In [83]:
medals['event_gender'].value_counts()

event_gender
Men      13932
Women     6323
Open       998
Mixed      444
Name: count, dtype: int64

In [84]:
medals['year'] = medals['slug_game'].str.extract(r'(\d{4})')
medals['year'] = medals['year'].astype(int)

In [85]:
medals = medals.drop(columns=['country_code'])

### **Sélection et sauvegarde des colonnes nettoyées des médailles**

Cette partie sélectionne les colonnes pertinentes, vérifie les informations et les valeurs manquantes du nouveau DataFrame `medals_clean`, puis sauvegarde ce DataFrame au format CSV et le télécharge.

In [86]:
medals_clean = medals[
    [
        'year',
        'slug_game',
        'discipline_title',
        'event_gender',
        'medal_type',
        'participant_type',
        'country_name',
        'country_3_letter_code'
    ]
]

In [87]:
medals_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21697 entries, 0 to 21696
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   year                   21697 non-null  int64
 1   slug_game              21697 non-null  object
 2   discipline_title       21697 non-null  object
 3   event_gender           21697 non-null  object
 4   medal_type             21697 non-null  object
 5   participant_type       21697 non-null  object
 6   country_name           21697 non-null  object
 7   country_3_letter_code  21697 non-null  object
dtypes: int64(1), object(7)
memory usage: 1.3+ MB

In [88]:
medals_clean.isnull().sum()

year                     0
slug_game                0
discipline_title         0
event_gender             0
medal_type               0
participant_type         0
country_name             0
country_3_letter_code    0
dtype: int64

In [89]:
medals_clean.head()

,year,slug_game,discipline_title,event_gender,medal_type,participant_type,country_name,country_3_letter_code
0,2022,beijing-2022,Curling,Mixed,GOLD,GameTeam,Italy,ITA
1,2022,beijing-2022,Curling,Mixed,GOLD,GameTeam,Italy,ITA
2,2022,beijing-2022,Curling,Mixed,SILVER,GameTeam,Norway,NOR
3,2022,beijing-2022,Curling,Mixed,SILVER,GameTeam,Norway,NOR
4,2022,beijing-2022,Curling,Mixed,BRONZE,GameTeam,Sweden,SWE

In [90]:
medals_clean.to_csv("medals_clean.csv", index=False)

In [91]:
from google.colab import files

files.download("medals_clean.csv")

### **Chargement et prétraitement des données sur les athlètes olympiques (`olympic_athletes.json`)**

Cette section charge les données des athlètes depuis un fichier JSON, les convertit en CSV, puis les charge dans un DataFrame `df`. Des opérations de nettoyage sont effectuées pour gérer les valeurs manquantes et convertir les types de données, notamment pour l'année de naissance et les médailles.

In [92]:
medals = pd.read_json('/content/drive/MyDrive/olympic_athletes.json')

In [93]:
medals.to_csv('/content/drive/MyDrive/olympic_athletes.csv', index=False)
print("Le fichier 'olympic_athletes.csv' a été enregistré dans votre Google Drive.")

Le fichier 'olympic_athletes.csv' a été enregistré dans votre Google Drive.

In [94]:
df_athlete = "/content/drive/MyDrive/olympic_athletes.csv"
df = pd.read_csv(df_athlete, encoding='latin1', sep=',')
df.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000.0,NaN,NaN
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995.0,NaN,NaN
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993.0,NaN,NaN
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995.0,NaN,NaN
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989.0,NaN,NaN

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB

In [96]:
athlete_year_birth = df['athlete_year_birth'].astype("Int64")

In [97]:
# Convert the column to string type to apply string methods
df['athlete_medals'] = df['athlete_medals'].astype(str)

# Remove any non-digit characters from the strings
# This will transform strings like '\n\n\n1\n\nS\n\n' into '1', and 'NaN' into ''
df['athlete_medals'] = df['athlete_medals'].str.replace(r'\\D', '', regex=True)

# Convert the cleaned strings to numeric, coercing any errors (e.g., empty strings from original NaNs)
# to NaN, as empty strings cannot be converted to numbers.
df['athlete_medals'] = pd.to_numeric(df['athlete_medals'], errors='coerce')

# Fill any remaining NaN values (from original NaNs or values that became empty strings after cleaning) with 0
df['athlete_medals'] = df['athlete_medals'].fillna(0)

# Finally, convert the column to the nullable integer type Int64
df['athlete_medals'] = df['athlete_medals'].astype("Int64")

In [98]:
df["has_medal"] = df["athlete_medals"].apply(lambda x: 0 if x=="None" else 1)
# has medal a deux valeurs, 1 pour si l'athele a déjà eu une médaile et 0 pour non

In [99]:
df['first_game'].head(20)
df["first_game_year"] = df["first_game"].str.extract(r'(\d{4})').astype(float)

In [100]:
df["bio"] = df["bio"].fillna("")

In [101]:
df["athlete_year_birth"] = df["athlete_year_birth"].astype("Int64")
df["age_at_first_game"] = df["first_game_year"] - df["athlete_year_birth"]

In [102]:
df["first_game_year"] = df["first_game_year"].astype("Int64")
df["athlete_year_birth"] = df["athlete_year_birth"].astype("Int64")
df["age_at_first_game"] = df["age_at_first_game"].astype("Int64")

In [103]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  Int64
 5   athlete_medals        75904 non-null  Int64
 6   bio                   75904 non-null  object
 7   has_medal             75904 non-null  int64
 8   first_game_year       75882 non-null  Int64
 9   age_at_first_game     73429 non-null  Int64
dtypes: Int64(4), int64(2), object(4)
memory usage: 6.1+ MB

In [104]:
df["athlete_year_birth"] = df["athlete_year_birth"].fillna(0)

### **Imputation des valeurs manquantes pour les athlètes**

Cette section gère les valeurs manquantes pour les années de naissance et l'âge au premier jeu. Elle essaie d'abord d'inférer les années de naissance à partir d'autres colonnes, puis utilise la médiane pour les valeurs restantes.

In [105]:
# 1. Convertir les 0 en pd.NA pour identifier correctement les valeurs manquantes
df['athlete_year_birth'] = df['athlete_year_birth'].replace(0, pd.NA)

# 2. Tenter d'imputer l'année de naissance si 'first_game_year' et 'age_at_first_game' sont disponibles
# Créer un masque pour les lignes où athlete_year_birth est NA et où les autres colonnes sont non-NA
mask_infer_birth_year = df['athlete_year_birth'].isna() & \
                        df['first_game_year'].notna() & \
                        df['age_at_first_game'].notna()

df.loc[mask_infer_birth_year, 'athlete_year_birth'] = \
    df.loc[mask_infer_birth_year, 'first_game_year'] - \
    df.loc[mask_infer_birth_year, 'age_at_first_game']

# 3. Calculer la médiane des années de naissance valides (non-NA)
median_birth_year = df['athlete_year_birth'].median()

# Remplir les NA restants avec la médiane
df['athlete_year_birth'] = df['athlete_year_birth'].fillna(median_birth_year).astype("Int64")

# 4. Recalculer 'age_at_first_game' pour qu'il soit cohérent avec la nouvelle 'athlete_year_birth'
df['age_at_first_game'] = df['first_game_year'] - df['athlete_year_birth']
df['age_at_first_game'] = df['age_at_first_game'].astype("Int64")

print("Vérification des valeurs manquantes après imputation pour athlete_year_birth et age_at_first_game :")
display(df[['athlete_year_birth', 'first_game_year', 'age_at_first_game']].isnull().sum())

Vérification des valeurs manquantes après imputation pour athlete_year_birth et age_at_first_game :

athlete_year_birth     0
first_game_year       22
age_at_first_game     22
dtype: int64

In [106]:
df.isnull().sum()

athlete_url              0
athlete_full_name        0
games_participations     0
first_game              22
athlete_year_birth       0
athlete_medals           0
bio                      0
has_medal                0
first_game_year         22
age_at_first_game       22
dtype: int64

In [107]:
# Calculer la médiane des âges au premier jeu valides (non-NA)
median_age_at_first_game = df['age_at_first_game'].median()

# Remplir les NA restants avec la médiane
df['age_at_first_game'] = df['age_at_first_game'].fillna(median_age_at_first_game).astype("Int64")

print("Vérification des valeurs manquantes après imputation pour age_at_first_game :")
display(df[['age_at_first_game']].isnull().sum())

Vérification des valeurs manquantes après imputation pour age_at_first_game :

age_at_first_game    0
dtype: int64

In [108]:
# Remplir les valeurs manquantes de 'first_game' avec 'Unknown'
df['first_game'] = df['first_game'].fillna('Unknown')

# Vérifier s'il reste des valeurs manquantes dans 'first_game'
print("Vérification des valeurs manquantes après imputation pour first_game :")
display(df['first_game'].isnull().sum())

# Afficher un aperçu des lignes où 'first_game' était manquant pour vérifier
# Vous pouvez adapter ceci pour voir d'autres colonnes si nécessaire
display(df[df['first_game'] == 'Unknown'].head())

Vérification des valeurs manquantes après imputation pour first_game :

np.int64(0)

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,has_medal,first_game_year,age_at_first_game
926,https://olympics.com/en/athletes/mari-eder,Mari EDER,0,Unknown,1987,0,,1,<NA>,24
1595,https://olympics.com/en/athletes/slotins,Roberts SLOTINS,0,Unknown,1991,0,,1,<NA>,24
3447,https://olympics.com/en/athletes/oussama-mellouli,Oussama MELLOULI,0,Unknown,1984,0,,1,<NA>,24
5467,https://olympics.com/en/athletes/cathal-daniels,Cathal DANIELS,0,Unknown,1996,0,,1,<NA>,24
7286,https://olympics.com/en/athletes/klemen-bauer,Klemen BAUER,0,Unknown,1986,0,,1,<NA>,24

In [109]:
# Calculer la médiane des années de premier jeu valides (non-NA)
median_first_game_year = df['first_game_year'].median()

# Remplir les NA restants avec la médiane
df['first_game_year'] = df['first_game_year'].fillna(median_first_game_year).astype("Int64")

print("Vérification des valeurs manquantes après imputation pour first_game_year :")
display(df[['first_game_year']].isnull().sum())

Vérification des valeurs manquantes après imputation pour first_game_year :

first_game_year    0
dtype: int64

In [110]:
df.isnull().sum()

athlete_url             0
athlete_full_name       0
games_participations    0
first_game              0
athlete_year_birth      0
athlete_medals          0
bio                     0
has_medal               0
first_game_year         0
age_at_first_game       0
dtype: int64

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75904 non-null  object
 4   athlete_year_birth    75904 non-null  Int64
 5   athlete_medals        75904 non-null  Int64
 6   bio                   75904 non-null  object
 7   has_medal             75904 non-null  int64
 8   first_game_year       75904 non-null  Int64
 9   age_at_first_game     75904 non-null  Int64
dtypes: Int64(4), int64(2), object(4)
memory usage: 6.1+ MB

In [112]:
df.head()

,athlete_url,athlete_full_name,games_participations,first_game,athlete_year_birth,athlete_medals,bio,has_medal,first_game_year,age_at_first_game
0,https://olympics.com/en/athletes/cooper-woods-...,Cooper WOODS-TOPALOVIC,1,Beijing 2022,2000,0,,1,2022,22
1,https://olympics.com/en/athletes/elofsson,Felix ELOFSSON,2,PyeongChang 2018,1995,0,,1,2018,23
2,https://olympics.com/en/athletes/dylan-walczyk,Dylan WALCZYK,1,Beijing 2022,1993,0,,1,2022,29
3,https://olympics.com/en/athletes/olli-penttala,Olli PENTTALA,1,Beijing 2022,1995,0,,1,2022,27
4,https://olympics.com/en/athletes/reikherd,Dmitriy REIKHERD,1,Beijing 2022,1989,0,,1,2022,33

### **Sauvegarde des données nettoyées des athlètes**

Cette cellule sauvegarde le DataFrame `df` nettoyé au format CSV.

In [113]:
df.to_csv('olympic_athletes_cleaned.csv', index=False)
print("Le fichier 'olympic_athletes_cleaned.csv' a été téléchargé avec succès.")

Le fichier 'olympic_athletes_cleaned.csv' a été téléchargé avec succès.

### **Chargement et prétraitement des données des résultats olympiques (`olympic_results.html`)**

Cette section charge les résultats des jeux olympiques à partir d'un fichier HTML, puis nettoie et transforme ces données. Cela inclut la gestion des valeurs manquantes, la création de codes de médaille, le comptage des athlètes par événement, et l'extraction de l'année des jeux.

In [114]:
import pandas as pd

file_path = "/content/drive/MyDrive/olympic_results.html"

# Lire toutes les tables du fichier HTML
tables = pd.read_html(file_path)

# Vérifier combien de tables ont été trouvées
print(f"Nombre de tables trouvées : {len(tables)}")

# Afficher un aperçu de la première table
df_results = tables[0]
print(df_results.head())

Nombre de tables trouvées : 1
   Unnamed: 0 discipline_title    event_title     slug_game participant_type  \
0           0          Curling  Mixed Doubles  beijing-2022         GameTeam
1           1          Curling  Mixed Doubles  beijing-2022         GameTeam
2           2          Curling  Mixed Doubles  beijing-2022         GameTeam
3           3          Curling  Mixed Doubles  beijing-2022         GameTeam
4           4          Curling  Mixed Doubles  beijing-2022         GameTeam

  medal_type                                           athletes rank_equal  \
0       GOLD  [('Stefania CONSTANTINI', 'https://olympics.co...      False
1     SILVER  [('Kristin SKASLIEN', 'https://olympics.com/en...      False
2     BRONZE  [('Almida DE VAL', 'https://olympics.com/en/at...      False
3        NaN  [('Jennifer DODDS', 'https://olympics.com/en/a...      False
4        NaN  [('Rachel HOMAN', 'https://olympics.com/en/ath...      False

  rank_position   country_name country_code country_3_letter_code athlete_url  \
0             1          Italy           IT                   ITA         NaN
1             2         Norway           NO                   NOR         NaN
2             3         Sweden           SE                   SWE         NaN
3             4  Great Britain           GB                   GBR         NaN
4             5         Canada           CA                   CAN         NaN

  athlete_full_name value_unit value_type
0               NaN        NaN        NaN
1               NaN        NaN        NaN
2               NaN        NaN        NaN
3               NaN        NaN        NaN
4               NaN        NaN        NaN

In [115]:
import pandas as pd
import ast

# 1️⃣ Lire le fichier HTML
file_path = "/content/drive/MyDrive/olympic_results.html"
tables = pd.read_html(file_path)
df_results = tables[0]

# 2️⃣ Nettoyage de base
df_results = df_results.drop_duplicates()

# 3️⃣ Gestion des valeurs manquantes
df_results['discipline_title'] = df_results['discipline_title'].fillna("Unknown")
df_results['event_title'] = df_results['event_title'].fillna("Unknown")
df_results['slug_game'] = df_results['slug_game'].fillna("Unknown")
df_results['participant_type'] = df_results['participant_type'].fillna("Unknown")
df_results['medal_type'] = df_results['medal_type'].fillna("None")
df_results['rank_equal'] = df_results['rank_equal'].fillna(False).astype(bool)
df_results['rank_position'] = pd.to_numeric(df_results['rank_position'], errors='coerce').fillna(0).astype(int)
df_results['country_name'] = df_results['country_name'].fillna("Unknown").str.strip()
df_results['country_code'] = df_results['country_code'].fillna("UNK")
df_results['country_3_letter_code'] = df_results['country_3_letter_code'].fillna("UNK")
df_results['athlete_url'] = df_results['athlete_url'].fillna("")
df_results['athlete_full_name'] = df_results['athlete_full_name'].fillna("")
df_results['value_unit'] = df_results['value_unit'].fillna("")
df_results['value_type'] = df_results['value_type'].fillna("")
df_results['athletes'] = df_results['athletes'].fillna("[]")  # pour pouvoir parser

# 4️⃣ Création de nouvelles colonnes pour ML

# Medal code
medal_map = {'GOLD':3, 'SILVER':2, 'BRONZE':1, 'None':0}
df_results['medal_code'] = df_results['medal_type'].map(medal_map)

# Num_athletes : compter le nombre d’athlètes
def count_athletes(x):
    try:
        if isinstance(x, str):
            x = ast.literal_eval(x)
        return len(x)
    except:
        return 0

df_results['num_athletes'] = df_results['athletes'].apply(count_athletes)

# Extraire l'année depuis slug_game
df_results['year'] = df_results['slug_game'].str.extract(r'(\d{4})').astype(int)

# Vérifications finales
print("Aperçu final :")
print(df_results.head())
print(df_results.info())
print("Valeurs manquantes par colonne :")
print(df_results.isnull().sum())

# Sauvegarde du fichier nettoyé
df_results.to_csv("/content/drive/MyDrive/olympic_results_clean.csv", index=False)
df_results.to_excel("/content/drive/MyDrive/olympic_results_clean.xlsx", index=False)
print("Fichier nettoyé des résultats sauvegardé avec succès !")

/tmp/ipython-input-1425047014.py:18: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_results['rank_equal'] = df_results['rank_equal'].fillna(False).astype(bool)

Aperçu final :
   Unnamed: 0 discipline_title    event_title     slug_game participant_type  \
0           0          Curling  Mixed Doubles  beijing-2022         GameTeam
1           1          Curling  Mixed Doubles  beijing-2022         GameTeam
2           2          Curling  Mixed Doubles  beijing-2022         GameTeam
3           3          Curling  Mixed Doubles  beijing-2022         GameTeam
4           4          Curling  Mixed Doubles  beijing-2022         GameTeam

  medal_type                                           athletes  rank_equal  \
0       GOLD  [('Stefania CONSTANTINI', 'https://olympics.co...       False
1     SILVER  [('Kristin SKASLIEN', 'https://olympics.com/en...       False
2     BRONZE  [('Almida DE VAL', 'https://olympics.com/en/at...       False
3       None  [('Jennifer DODDS', 'https://olympics.com/en/a...       False
4       None  [('Rachel HOMAN', 'https://olympics.com/en/ath...       False

   rank_position   country_name country_code country_3_letter_code  \
0              1          Italy           IT                   ITA
1              2         Norway           NO                   NOR
2              3         Sweden           SE                   SWE
3              4  Great Britain           GB                   GBR
4              5         Canada           CA                   CAN

  athlete_url athlete_full_name value_unit value_type  medal_code  \
0                                                               3
1                                                               2
2                                                               1
3                                                               0
4                                                               0

   num_athletes  year
0             2  2022
1             2  2022
2             2  2022
3             2  2022
4             2  2022
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             162804 non-null  int64
 1   discipline_title       162804 non-null  object
 2   event_title            162804 non-null  object
 3   slug_game              162804 non-null  object
 4   participant_type       162804 non-null  object
 5   medal_type             162804 non-null  object
 6   athletes               162804 non-null  object
 7   rank_equal             162804 non-null  bool
 8   rank_position          162804 non-null  int64
 9   country_name           162804 non-null  object
 10  country_code           162804 non-null  object
 11  country_3_letter_code  162804 non-null  object
 12  athlete_url            162804 non-null  object
 13  athlete_full_name      162804 non-null  object
 14  value_unit             162804 non-null  object
 15  value_type             162804 non-null  object
 16  medal_code             162804 non-null  int64
 17  num_athletes           162804 non-null  int64
 18  year                   162804 non-null  int64
dtypes: bool(1), int64(5), object(13)
memory usage: 22.5+ MB
None
Valeurs manquantes par colonne :
Unnamed: 0               0
discipline_title         0
event_title              0
slug_game                0
participant_type         0
medal_type               0
athletes                 0
rank_equal               0
rank_position            0
country_name             0
country_code             0
country_3_letter_code    0
athlete_url              0
athlete_full_name        0
value_unit               0
value_type               0
medal_code               0
num_athletes             0
year                     0
dtype: int64
Fichier nettoyé des résultats sauvegardé avec succès !

### **Sauvegarde des données nettoyées des résultats olympiques**

Ces cellules sauvegardent le DataFrame `df_results` nettoyé au format CSV et Excel.

In [116]:
# Sauvegarder en CSV pour traitement plus simple
df_results.to_csv("/content/drive/MyDrive/olympic_results.csv", index=False)

# Ou en Excel
df_results.to_excel("/content/drive/MyDrive/olympic_results.xlsx", index=False)

print("✅ Fichier olympic_results sauvegardé avec succès en CSV et Excel !")

✅ Fichier olympic_results sauvegardé avec succès en CSV et Excel !

### **Chargement et prétraitement des données des hôtes olympiques (`olympic_host.xlsx`)**

Cette section charge le fichier Excel des hôtes, renomme les colonnes pour une meilleure clarté, gère les doublons et les valeurs manquantes, puis crée de nouvelles caractéristiques comme le code de saison et la décennie.

In [117]:
file_path = "/content/drive/MyDrive/olympic_host.xlsx"

In [118]:
import pandas as pd

# Lire le fichier Excel
df_hosts = pd.read_excel(file_path)

# Vérifier les premières lignes et les infos
print(df_hosts.head())
print(df_hosts.info())

   index         game_slug       game_end_date     game_start_date  \
0      0      beijing-2022 2022-02-20 13:00:00 2022-02-04 16:00:00
1      1        tokyo-2020 2021-08-08 16:00:00 2021-07-23 13:00:00
2      2  pyeongchang-2018 2018-02-25 09:00:00 2018-02-09 00:00:00
3      3          rio-2016 2016-08-21 23:00:00 2016-08-05 14:00:00
4      4        sochi-2014 2014-02-23 17:00:00 2014-02-07 05:00:00

        game_location         game_name game_season  game_year
0               China      Beijing 2022      Winter       2022
1               Japan        Tokyo 2020      Summer       2020
2   Republic of Korea  PyeongChang 2018      Winter       2018
3              Brazil          Rio 2016      Summer       2016
4  Russian Federation        Sochi 2014      Winter       2014
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            53 non-null     int64
 1   game_slug        53 non-null     object
 2   game_end_date    53 non-null     datetime64[ns]
 3   game_start_date  53 non-null     datetime64[ns]
 4   game_location    53 non-null     object
 5   game_name        53 non-null     object
 6   game_season      53 non-null     object
 7   game_year        53 non-null     int64
dtypes: datetime64[ns](2), int64(2), object(4)
memory usage: 3.4+ KB
None

In [119]:
# Liste des colonnes
print(df_hosts.columns)

# Vérifier les doublons
print(f"Doublons : {df_hosts.duplicated().sum()}")

# Vérifier les valeurs manquantes
print(df_hosts.isnull().sum())

Index(['index', 'game_slug', 'game_end_date', 'game_start_date',
       'game_location', 'game_name', 'game_season', 'game_year'],
      dtype='object')
Doublons : 0
index              0
game_slug          0
game_end_date      0
game_start_date    0
game_location      0
game_name          0
game_season        0
game_year          0
dtype: int64

In [120]:
import pandas as pd

# Corrected file_path
file_path = "/content/drive/MyDrive/olympic_host.xlsx"

# Lire le fichier
df_hosts = pd.read_excel(file_path)

# Renommer colonnes principales
df_hosts = df_hosts.rename(columns={
    'game_year': 'year',
    'game_location': 'city',
    'game_season': 'season',
    'game_name': 'game_name'
})

# Vérifier doublons
df_hosts = df_hosts.drop_duplicates()

# Gestion des valeurs manquantes pour colonnes essentielles
df_hosts = df_hosts.dropna(subset=['year', 'city', 'season'])

# Encodage saison pour ML
df_hosts['season_code'] = df_hosts['season'].map({'Summer': 0, 'Winter': 1})

# Création de la décennie
df_hosts['decade'] = (df_hosts['year'] // 10) * 10

# Normalisation de l'année
df_hosts['year_norm'] = (df_hosts['year'] - df_hosts['year'].min()) / (df_hosts['year'].max() - df_hosts['year'].min())

# Vérifications finales
print(df_hosts.head())
print(df_hosts.info())

# Sauvegarde des fichiers nettoyés
df_hosts.to_csv("/content/drive/MyDrive/olympic_hosts_clean.csv", index=False)
df_hosts.to_excel("/content/drive/MyDrive/olympic_hosts_clean.xlsx", index=False)
print("Fichier nettoyé sauvegardé avec succès !")

   index         game_slug       game_end_date     game_start_date  \
0      0      beijing-2022 2022-02-20 13:00:00 2022-02-04 16:00:00
1      1        tokyo-2020 2021-08-08 16:00:00 2021-07-23 13:00:00
2      2  pyeongchang-2018 2018-02-25 09:00:00 2018-02-09 00:00:00
3      3          rio-2016 2016-08-21 23:00:00 2016-08-05 14:00:00
4      4        sochi-2014 2014-02-23 17:00:00 2014-02-07 05:00:00

                 city         game_name  season  year  season_code  decade  \
0               China      Beijing 2022  Winter  2022            1    2020
1               Japan        Tokyo 2020  Summer  2020            0    2020
2   Republic of Korea  PyeongChang 2018  Winter  2018            1    2010
3              Brazil          Rio 2016  Summer  2016            0    2010
4  Russian Federation        Sochi 2014  Winter  2014            1    2010

   year_norm
0   1.000000
1   0.984127
2   0.968254
3   0.952381
4   0.936508
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            53 non-null     int64
 1   game_slug        53 non-null     object
 2   game_end_date    53 non-null     datetime64[ns]
 3   game_start_date  53 non-null     datetime64[ns]
 4   city             53 non-null     object
 5   game_name        53 non-null     object
 6   season           53 non-null     object
 7   year             53 non-null     int64
 8   season_code      53 non-null     int64
 9   decade           53 non-null     int64
 10  year_norm        53 non-null     float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(4)
memory usage: 4.7+ KB
None
Fichier nettoyé sauvegardé avec succès !

### **Jointure et agrégation des différentes sources de données**

Cette section est cruciale. Elle charge les DataFrames nettoyés des médailles, athlètes, hôtes et résultats. Ensuite, elle agrège les données pour calculer le nombre de médailles par type, le nombre total d'athlètes, l'âge moyen des athlètes, et joint ces informations avec les données des hôtes pour créer un DataFrame final (`df_final`). Des caractéristiques supplémentaires comme les médailles cumulées et l'indicateur de pays hôte sont ajoutées.

In [121]:
#  Définir le chemin de chaque fichier
path_results = '/content/drive/MyDrive/olympic_results_clean.csv'
path_athletes = '/content/drive/MyDrive/olympic_athletes_clean.csv'
path_hosts = '/content/drive/MyDrive/olympic_hosts_clean.csv'
path_medals = '/content/drive/MyDrive/medals_clean.csv'

#  Lire les fichiers
df_results = pd.read_csv(path_results)
df_athletes = pd.read_csv(path_athletes)
df_hosts = pd.read_csv(path_hosts)
df_medals = pd.read_csv(path_medals)

In [122]:
import pandas as pd

medals_type_count = df_medals.pivot_table(
    index=['year', 'slug_game', 'country_3_letter_code'],
    columns='medal_type',
    aggfunc='size',
    fill_value=0
).reset_index()

medals_type_count.columns.name = None
medals_type_count = medals_type_count.rename(columns={
    'GOLD': 'gold_medals',
    'SILVER': 'silver_medals',
    'BRONZE': 'bronze_medals'
})

medals_type_count['total_medals'] = (
    medals_type_count['gold_medals'] +
    medals_type_count['silver_medals'] +
    medals_type_count['bronze_medals']
)

athletes_per_country = df_results.groupby(
    ['year', 'slug_game', 'country_3_letter_code']
)['athlete_full_name'].nunique().reset_index()
athletes_per_country = athletes_per_country.rename(columns={'athlete_full_name': 'total_athletes'})

ages = df_results.merge(
    df_athletes[['athlete_full_name', 'athlete_year_birth']],
    on='athlete_full_name',
    how='left'
)

ages['age_at_games'] = ages['year'] - ages['athlete_year_birth']
ages = ages[ages['age_at_games'].between(10, 60)]

avg_age = ages.groupby(
    ['year', 'slug_game', 'country_3_letter_code']
)['age_at_games'].mean().reset_index()
avg_age = avg_age.rename(columns={'age_at_games': 'avg_age_athletes'})

history = medals_type_count[['country_3_letter_code', 'year', 'total_medals']].copy()
history = history.sort_values(['country_3_letter_code', 'year'], ascending=[True, True])
history = history.rename(columns={'total_medals': 'medals_in_current_year'})

df_hosts_simple = df_hosts[['game_slug', 'city', 'season', 'year', 'game_name']]

df_final = medals_type_count.merge(
    athletes_per_country,
    on=['year', 'slug_game', 'country_3_letter_code'],
    how='left'
)

df_final = df_final.merge(
    avg_age,
    on=['year', 'slug_game', 'country_3_letter_code'],
    how='left'
)

df_final = df_final.merge(
    history[['country_3_letter_code', 'year', 'medals_in_current_year']],
    on=['country_3_letter_code', 'year'],
    how='left'
)

df_hosts_simple = df_hosts[['game_slug', 'city', 'season', 'year', 'game_name']].copy()
country_mapping = df_medals[['country_name','country_3_letter_code']].drop_duplicates()
df_hosts_simple = df_hosts_simple.merge(country_mapping, left_on='city', right_on='country_name', how='left')


df_final = df_final.merge(
    df_hosts_simple,
    left_on=['year','slug_game'],
    right_on=['year','game_slug'],
    how='left'
)

df_final = df_final.sort_values(['country_3_letter_code_x', 'year'], ascending=[True,True])
df_final['cumulative_medals'] = df_final.groupby('country_3_letter_code_x')['medals_in_current_year'].cumsum().shift(1).fillna(0)
df_final['is_host'] = (df_final['country_3_letter_code_y'] == df_final['country_3_letter_code_x']).astype(int)

df_final = df_final.drop(columns=['country_name', 'country_3_letter_code_y', 'game_slug'])
df_final = df_final.reset_index(drop=True)

print(df_final.head())

print(df_final.columns)

   year         slug_game country_3_letter_code_x  bronze_medals  gold_medals  \
0  2008      beijing-2008                     AFG              1            0
1  2012       london-2012                     AFG              1            0
2  1988        seoul-1988                     AHO              0            0
3  1984  los-angeles-1984                     ALG              2            0
4  1992    barcelona-1992                     ALG              1            1

   silver_medals  total_medals  total_athletes  avg_age_athletes  \
0              0             1               2         22.500000
1              0             1               4         25.000000
2              1             1               3         25.250000
3              0             2              11         25.818182
4              0             2              22         24.136364

   medals_in_current_year               city  season         game_name  \
0                       1              China  Summer      Beijing 2008
1                       1      Great Britain  Summer       London 2012
2                       1  Republic of Korea  Summer        Seoul 1988
3                       2      United States  Summer  Los Angeles 1984
4                       2              Spain  Summer    Barcelona 1992

   cumulative_medals  is_host
0                0.0        0
1                1.0        0
2                2.0        0
3                1.0        0
4                2.0        0
Index(['year', 'slug_game', 'country_3_letter_code_x', 'bronze_medals',
       'gold_medals', 'silver_medals', 'total_medals', 'total_athletes',
       'avg_age_athletes', 'medals_in_current_year', 'city', 'season',
       'game_name', 'cumulative_medals', 'is_host'],
      dtype='object')

In [123]:
print("Premières 5 lignes de df_final :")
display(df_final.head())

print("Informations sur df_final :")
display(df_final.info())

Premières 5 lignes de df_final :

,year,slug_game,country_3_letter_code_x,bronze_medals,gold_medals,silver_medals,total_medals,total_athletes,avg_age_athletes,medals_in_current_year,city,season,game_name,cumulative_medals,is_host
0,2008,beijing-2008,AFG,1,0,0,1,2,22.500000,1,China,Summer,Beijing 2008,0.0,0
1,2012,london-2012,AFG,1,0,0,1,4,25.000000,1,Great Britain,Summer,London 2012,1.0,0
2,1988,seoul-1988,AHO,0,0,1,1,3,25.250000,1,Republic of Korea,Summer,Seoul 1988,2.0,0
3,1984,los-angeles-1984,ALG,2,0,0,2,11,25.818182,2,United States,Summer,Los Angeles 1984,1.0,0
4,1992,barcelona-1992,ALG,1,1,0,2,22,24.136364,2,Spain,Summer,Barcelona 1992,2.0,0

Informations sur df_final :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2205 entries, 0 to 2204
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year                     2205 non-null   int64
 1   slug_game                2205 non-null   object
 2   country_3_letter_code_x  2205 non-null   object
 3   bronze_medals            2205 non-null   int64
 4   gold_medals              2205 non-null   int64
 5   silver_medals            2205 non-null   int64
 6   total_medals             2205 non-null   int64
 7   total_athletes           2205 non-null   int64
 8   avg_age_athletes         2177 non-null   float64
 9   medals_in_current_year   2205 non-null   int64
 10  city                     2205 non-null   object
 11  season                   2205 non-null   object
 12  game_name                2205 non-null   object
 13  cumulative_medals        2205 non-null   float64
 14  is_host                  2205 non-null   int64
dtypes: float64(2), int64(8), object(5)
memory usage: 258.5+ KB

None

### **Sauvegarde du DataFrame final**

Cette cellule sauvegarde le DataFrame `df_final` complet, prêt pour l'analyse ou la modélisation, au format CSV dans Google Drive.

In [124]:
df_final.to_csv('/content/drive/MyDrive/dataset.csv', index=False)
print("Le fichier 'dataset.csv' a été sauvegardé sur votre Google Drive.")

Le fichier 'dataset.csv' a été sauvegardé sur votre Google Drive.